<section>
    <div class="todo-list-container">
        <div class="todo-list-add-new">
            <span title="ADD TODO" (click)="addNewItem()">📑</span>
        </div>
        <div class="todo-list-header">
            <div class="filter">
                <h4 (click)="updateFilter('title')">NAME <span
                        *ngIf="filter.direction === 'desc' && filter.option === 'title'">↓</span><span
                        *ngIf="filter.direction === 'asc' && filter.option === 'title'">↑</span></h4>
                <h4 (click)="updateFilter('date')">DATE <span
                        *ngIf="filter.direction === 'desc' && filter.option === 'date' ">↓</span><span
                        *ngIf="filter.direction === 'asc' && filter.option === 'date'">↑</span></h4>
            </div>
            <div></div>
            <div>
                <input type="text" placeholder="search" [(ngModel)]="searchQuery" (keyup.enter)="getTodos()" />
            </div>
        </div>
        <div class="todo-items">
            <div class="todo-item add" *ngIf="adding">
                <div class="item-date">
                    <input type="date" [(ngModel)]="newItem.date" placeholder="date">
                </div>
                <div class="item-title">
                    <input type="text" [(ngModel)]="newItem.title" placeholder="title">
                </div>
                <div class="item-description">
                    <input type="text" [(ngModel)]="newItem.description" placeholder="description">
                </div>
                <div class="item-action"><span title="ADD" (click)="addNewTodoItem()">👌</span></div>
            </div>
            <div class="todo-item" *ngFor="let todo of todos">
                <div class="item-date">{{todo.date | date}}</div>
                <div class="item-title">{{todo.title}}</div>
                <div class="item-description">{{todo.description}}</div>
                <div class="item-action"><span title="DONE" (click)="changeTodoStatus(todo)">👍</span></div>
            </div>
            <div class="completed-actions">
                <a class="completed-link" *ngIf="!completed" (click)="showCompleted()">Show completed</a>
                <a class="completed-link" *ngIf="completed" (click)="showCompleted()">Hide completed</a>
            </div>
            <div *ngIf="completed">
                <div class="todo-item completed" *ngFor="let todo of completedTodos">
                    <div class="item-date">{{todo.date | date}}</div>
                    <div class="item-title">{{todo.title}}</div>
                    <div class="item-description">{{todo.description}}</div>
                    <div class="item-action"><span title="UNDONE" (click)="changeTodoStatus(todo)">👎</span></div>
                </div>
            </div>

        </div>
    </div>
</section>