<section>
    <div class="login-container">
        <div class="login-form-layout">
            <div class="login-form-header">
                <h3>Login to your TODO list</h3>
            </div>
            <div class="login-fields">
                <form name="login-form" class="form form-login">
                    <div class="form-field">
                        <label class="user" for="login-username"><span class="hidden">Username</span></label>
                        <input name="email" id="login-username" type="email" class="form-input" placeholder="EMAIL" [(ngModel)]="email" required>
                    </div>

                    <div class="form-field">
                        <label class="lock" for="login-password"><span class="hidden">Password</span></label>
                        <input name="password" id="login-password" type="password" class="form-input" placeholder="PASSWORD" [(ngModel)]="password" required>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Log in" (click)="login()">
                    </div>
                    <div class="form-field">
                        <a routerLink="/register" class="register-link">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>